@font-face {
    font-family: Rubik Bold;
    src: url(../fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: Rubik Bolder;
    src: url(../fonts/Rubik-Black.ttf);
}

@font-face {
    font-family: Rubik Regular;
    src: url(../fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: Rubik Light;
    src: url(../fonts/Rubik-Light.ttf);
}

@font-face {
    font-family: Rubik Medium;
    src: url(../fonts/Rubik-Medium.ttf);
}

* {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

html,
body {
    background-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: Rubik Bold;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#background_container {
    position: absolute;
    width: 100vw;
    height: 100vh;

    background-image: url(../img/background_empty.png);
    background-size: cover;
    background-position: center;
    opacity: 1;
}

#background_container._hidden {
    opacity: 0;
}

#tree_cnt {
    height: 100vh;
    background-image: url(../img/esn_bridge.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    position: relative;
    opacity: 1;
}

#tree_cnt._hidden {
    opacity: 0;
}

#title_cnt {
    width: 100%;
    text-align: center;
    position: relative;
    top: 20vh;
}

#title_cnt._hidden {
    top: -60vh;
}

#title_cnt > h1,
h2,
h3 {
    margin: 0;
    margin-bottom: 0.1em;
    font-family: Rubik Regular;
}

#title_cnt > h1 {
    font-size: 6.5vw; /*5.5em*/
}

#title_cnt > h2 {
    font-size: 4.5vw; /*3.8em;*/
}

#title_cnt > h3 {
    font-size: 3.5vw; /*3em;*/
}

/* SMalled */
#title_cnt._smalled {
    top: 5vh;
}

#title_cnt._smalled > h1 {
    font-size: 5.4vw;
}

#title_cnt._smalled > h2 {
    font-size: 3.2vw;
}

#title_cnt._smalled > h3 {
    font-size: 2.2vw;
}
/* --------*/

#timer_cnt {
    opacity: 1;
    position: relative;
    top: 15vh;
    width: 100%;
    text-align: center;
}

#timer_cnt > div > h1 {
    margin: 0;
    font-size: 6vw;
    display: inline;
    font-family: Rubik Bold;
}

/*#timer_cnt > div {
    font-size: 3em;
    display: flex;
    justify-content: center;
}

#timer_cnt > div > h1 {
    margin: 0;
    padding-top: 42px;
}

#timer_cnt > div > h1:last-of-type {
    padding-bottom: 42px;
}*/

#timer_cnt._hidden {
    opacity: 0;
}

/* LOGO CONTAINER */

#logo_cnt {
    width: 60vw;
    position: absolute;
    bottom: 10vh;
    text-align: center;
    opacity: 1;
}

#logo_cnt > img {
    width: 80%;
}

#logo_cnt._hidden {
    bottom: -30vh;
    opacity: 0;
}

#logo_cnt._smalled {
    bottom: 5vh;
}

#logo_cnt._smalled > img {
    width: 60%;
}

#presenter_cnt {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1vw;
    padding-left: 10vw;

    background-color: transparent;
    background-size: cover;
    text-align: right; /*
    box-shadow: 0 0 10px rgba(0,0,0,0.5); */
    background-image: url(../img/presenter-bg.png);
    font-size: 2vh;
    height: 15vh;
}

#presenter_cnt > h1 {
    font-family: Rubik Bold;
    margin: 1vh 0;
    letter-spacing: 0;
}

#presenter_cnt > h1#p_title {
    margin-top: 3vh;
}

#presenter_cnt > h1#p_name {
    font-family: Rubik Light;
}

/*#presenter_cnt::before {
    content: url(../img/presenter-border-corner.png);
    background-color: transparent!important;
    position: absolute;
    display: inline-block;
    left: -18.7vw;
} */

#presenter_cnt._hidden {
    bottom: -30vh;
    right: -30vw;
}
