@font-face {
    font-family: Rubik Bold;
    src: url(/st/fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: Rubik Bolder;
    src: url(/st/fonts/Rubik-Black.ttf);
}

@font-face {
    font-family: Rubik Regular;
    src: url(/st/fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: Rubik Light;
    src: url(/st/fonts/Rubik-Light.ttf);
}

@font-face {
    font-family: Rubik Medium;
    src: url(/st/fonts/Rubik-Medium.ttf);
}

* {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

html,
body {
    background-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: Rubik Bold;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    letter-spacing: normal !important;

    display: flex;
    justify-content: space-between;
}

#background_container {
    position: absolute;
    width: 100vw;
    height: 100vh;

    background-image: url(/st/img/background_empty.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: -1;
}

#background_container._hidden {
    opacity: 0;
}

#bridge_cnt {
    height: 100vh;
    width: 30vw;
    text-align: center;
}

#bridge_cnt > img {
    height: 100%;
    max-width: 100%;
    opacity: 1;
}

#bridge_cnt._hidden > img {
    opacity: 0;
}

#right_block {
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#top_cnt {
    opacity: 1;
    text-align: center;
    /* padding-left: 2vw; */
}

/* #top_cnt._hidden {
    top: -60vh;
} */

#title_cnt > h1 {
    font-size: 5.5vw; /*5.5em*/
    padding: 0 0 1vh 1vh;
    margin: 0;
    font-family: Rubik Bold;
}

#title_cnt > h3 {
    font-size: 2.2vw; /*3em;*/
    margin: 0;
    padding: 2vh 0 0 1vh;
    font-family: Rubik Bold;
}

/* Smalled */
#top_cnt._smalled > #title_cnt > h1 {
    font-size: 5.4vw;
}

#top_cnt._smalled > #title_cnt > h3 {
    font-size: 2.2vw;
}

/* -------- */

#timer_cnt {
    opacity: 1;
    /* position: relative; */
    /* top: 15vh; */
    width: 100%;
    text-align: center;
}

#timer_cnt > div > h1 {
    margin: 0;
    font-size: 6vw;
    display: inline;
    font-family: Rubik Bold;
}

#timer_cnt._hidden {
    opacity: 0;
    height: 0;
}

/* LOGO CONTAINER */

#logo_cnt {
    width: 100%;
    height: 15vh;
    /* position: absolute; */
    /* bottom: 5vh; */
    text-align: center;
    opacity: 1;
}

#logo_cnt > img {
    height: 100%;
}

#logo_cnt._hidden {
    bottom: -30vh;
    opacity: 0;
}

#logo_cnt._smalled {
    bottom: 5vh;
}

#presenter_cnt {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1vw;
    padding-left: calc(10vw + 50px);

    background-color: transparent;
    background-size: cover;
    text-align: right;
    background-image: url(/st/img/presenter-bg.png);
    font-size: 2vh;
    height: 15vh;
}

#presenter_cnt > h1 {
    font-family: Rubik Medium;
    color: black;
    margin: 1vh 0;
    letter-spacing: 0;
}

#presenter_cnt > h1#p_title {
    margin-top: 3vh;
}

#presenter_cnt > h1#p_name {
    font-family: Rubik Light;
}

#presenter_cnt._hidden {
    bottom: -30vh;
    right: -30vw;
}
