@font-face {
    font-family: Rubik Bold;
    src: url(/st/fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: Rubik Bolder;
    src: url(/st/fonts/Rubik-Black.ttf);
}

@font-face {
    font-family: Rubik Regular;
    src: url(/st/fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: Rubik Light;
    src: url(/st/fonts/Rubik-Light.ttf);
}

@font-face {
    font-family: Rubik Medium;
    src: url(/st/fonts/Rubik-Medium.ttf);
}

* {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

html,
body {
    background-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: Rubik Bold;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    letter-spacing: normal !important;
}

#background_container {
    position: absolute;
    width: 100vw;
    height: 100vh;

    background-image: url(/st/img/background_empty.png);
    background-size: cover;
    background-position: center;
    opacity: 1;
}

#background_container._hidden {
    opacity: 0;
}

#top_cnt {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0 10vw;

    width: 100%;
    position: relative;
    top: 5vh;
    opacity: 1;
}

#top_cnt._hidden {
    top: -60vh;
}

#bridge_cnt {
    height: 30vw;
}

#bridge_cnt > img {
    height: 100%;
}

#title_cnt > h1 {
    font-size: 5.5vw; /*5.5em*/
    padding: 0 0 3.2vh 1vh;
    margin: 0;
    font-family: Rubik Bold;
}

#title_cnt > h3 {
    font-size: 2.2vw; /*3em;*/
    margin: 0;
    padding: 5.2vh 0 0 1vh;
    font-family: Rubik Bold;
}

/* Smalled */
#top_cnt._smalled > #bridge_cnt {
    height: 20vw;
}

#top_cnt._smalled > #title_cnt > h1 {
    font-size: 5.4vw;
    padding: 0 0 1vh 1vh;
}

#top_cnt._smalled > #title_cnt > h3 {
    font-size: 2.2vw;
    padding: 2vh 0 0 1vh;
}

/* -------- */

#timer_cnt {
    opacity: 1;
    position: relative;
    top: 15vh;
    width: 100%;
    text-align: center;
}

#timer_cnt > div > h1 {
    margin: 0;
    font-size: 6vw;
    display: inline;
    font-family: Rubik Bold;
}

/*#timer_cnt > div {
    font-size: 3em;
    display: flex;
    justify-content: center;
}

#timer_cnt > div > h1 {
    margin: 0;
    padding-top: 42px;
}

#timer_cnt > div > h1:last-of-type {
    padding-bottom: 42px;
}*/

#timer_cnt._hidden {
    opacity: 0;
}

/* LOGO CONTAINER */

#logo_cnt {
    width: 100vw;
    height: 15vh;
    position: absolute;
    bottom: 5vh;
    text-align: center;
    opacity: 1;
}

#logo_cnt > img {
    height: 100%;
}

#logo_cnt._hidden {
    bottom: -30vh;
    opacity: 0;
}

#logo_cnt._smalled {
    bottom: 5vh;
}

#presenter_cnt {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1vw;
    padding-left: 10vw;

    background-color: transparent;
    background-size: cover;
    text-align: right; /*
    box-shadow: 0 0 10px rgba(0,0,0,0.5); */
    background-image: url(/st/img/presenter-bg.png);
    font-size: 2vh;
    height: 15vh;
}

#presenter_cnt > h1 {
    font-family: Rubik Bold;
    margin: 1vh 0;
    letter-spacing: 0;
}

#presenter_cnt > h1#p_title {
    margin-top: 3vh;
}

#presenter_cnt > h1#p_name {
    font-family: Rubik Light;
}

/*#presenter_cnt::before {
    content: url(/st/img/presenter-border-corner.png);
    background-color: transparent!important;
    position: absolute;
    display: inline-block;
    left: -18.7vw;
} */

#presenter_cnt._hidden {
    bottom: -30vh;
    right: -30vw;
}
