<meta charset="utf-8">
<title>National Platform</title>
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"/>
<link rel="stylesheet" href="/st/main.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="/st/main.js"></script>

<body class="pure-g">
    <div id="background_container"></div>
    <div id="bridge_cnt">
        <img src="/st/img/logo_np_c.png" />
    </div>
    <div id="right_block">
        <div id="top_cnt">
            <div id="title_cnt">
                <h1>National Platform</h1>
                <h1>Moscow</h1>
                <h3>27th - 29th July</h3>
            </div>
        </div>
        <div id="timer_cnt" class="_hidden">
            <div>
                <h1 id="t_event_name">Coffee break ends</h1>
                <h1>&nbsp;</h1>
                <h1 id="t_timer">right now</h1>
            </div>
        </div>
        <div id="logo_cnt">
            <img src="/st/img/esn_russia_logo.png">
        </div>
    </div>
    <div id="presenter_cnt" class="_hidden">
        <h1 id="p_title"></h1>
        <h1 id="p_name"></h1>
    </div>
</body>
