<meta charset="utf-8">
<link rel="stylesheet" href="/st/main.css">
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="/st/main.js"></script>

<div class="logo_cnt">
    <img src="/st/img/LOGO_NP_RUS_Final.png">
</div>



<div class="timer_cnt">
    <div>
        <h1 id="t_min">35</h1>
        <h1>:</h1>
        <h1 id="t_sec">40</h1>
    </div>
</div>
