<meta charset="utf-8">
<link rel="stylesheet" href="/st/master.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="/st/master.js"></script>

<h1>First National Platform Master Page</h1>
<input id="time" placeholder="Time in seconds">
<input id="event" placeholder="Event name">
<button onclick="SetTimer()">Set timer</button>
